@model FinancialPortal.Web.ViewModels.DataProtectionVm

@{
    ViewBag.Title = "Data Protection";
}

@if (ViewData.ModelState.Any(x => x.Key == string.Empty))
{
    <div class="notification notification--error js-notification">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="notification__message">
                        <div class="notification__message__heading">
                            <p>Oops</p>
                        </div>
                        <div class="notification__message__body">
                            <p>@Html.Raw(Model.NotificationMessage)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="container">
    <div class="row">
        <div class="col-12 col-md-8 col-lg-6">
            <div class="content-wrapper">
                <div class="content__block">
                    <h2>Make a Payment</h2>
                    <p>Please enter your details below so we can make sure your payment is made to the right account.</p>
                    
                    <div class="step">
                        <div class="step__number step__number--active">1</div>
                        <div class="step__number">2</div>
                        <div class="step__number">3</div>
                        <div class="step__number">4</div>
                    </div>

                    @using (Html.BeginForm("Index", "DataProtection", FormMethod.Post, new { @class = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form__element">
                            <div class="label-wrapper">
                                @Html.LabelFor(m => m.LowellReference, "Lowell reference number")
                                <a href="#reference-number-modal" data-modal="#reference-number-modal" data-modal-type="inline">What's this?</a>
                            </div>
                            @Html.TextBoxFor(model => model.LowellReference, new { placeholder = "eg. 1238948334", id = "reference-number", autocomplete = "off" })
                            @Html.ValidationMessageFor(m => m.LowellReference)
                        </div>
                        <div class="form__element">
                            @Html.LabelFor(m => m.DateOfBirth, "Date of birth")
                            <div class="form__element__dob">
                                @Html.TextBoxFor(m => m.DateOfBirth, new { @name = "date-of-birth", @style = "width: 0;height: 0; position: absolute;", @class = "date-of-birth-text" })
                                <div class="select-wrapper day">
                                    @Html.DropDownListFor(m => m.Day, new SelectList(Model.Days, "Key", "Value", Model.Day), new { @name = "dropdown-day", @class = "js-select-dob dropdown-day" })
                                </div>
                                <div class="select-wrapper month">
                                    @Html.DropDownListFor(m => m.Month, new SelectList(Model.Months, "Key", "Value", Model.Month), new { @name = "dropdown-month", @class = "js-select-dob dropdown-month" })
                                </div>
                                <div class="select-wrapper year">
                                    @Html.DropDownListFor(m => m.Year, new SelectList(Model.Years, "Key", "Value", Model.Year), new { @name = "dropdown-year", @class = "js-select-dob dropdown-year" })
                                </div>
                            </div>
                            @Html.ValidationMessageFor(m => m.DateOfBirth)
                        </div>
                        <div class="form__element">
                            @Html.LabelFor(m => m.Postcode, "Postcode")
                            @Html.TextBoxFor(model => model.Postcode, new { placeholder = "eg. LS18 4AA", id = "postcode", @class = "js-postcode", autocomplete = "off" })
                            @Html.ValidationMessageFor(model => model.Postcode)
                        </div>
                        <div style="visibility: hidden; display: none;">
                            @Html.TextBoxFor(m => m.HoneyPotTextBox)
                        </div>
                        <div class="form__element form__element--row form__element--button">
                            <button type="submit" class="btn btn--primary">Next <i class="jw-icon-arrow"></i></button>
                            @Html.ActionLink("Cancel", "Index", "Home",new { },new {@class="btn btn--link" })
                        </div>
                    }
                </div>
            </div>
        </div>
        @Html.Partial("Partials/LowellReferenceLocation")
    </div>
</div>